*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin

# Secrets and API Keys
secrets.xml
deezer-keys.properties
*.jks
*.keystore
google-services.json
